 #border{
        text-align:center;
        padding:30px;
        background-color: darkgrey;
        border:3px solid black;
        border-radius:60px;
        font-family: 'Gloria Hallelujah', cursive;
        opacity:0.7;
        
        font-size:42px;
    }
h1{
    
    
     text-align:center;
        
        
        font-family: 'Josefin Sans', sans-serif;

       
       
        font-size:60px;
    
}
a{
     text-decoration:none;
     color:black;
}

    .imgContainer,.imgContainer1,.imgContainer2,.imgContainer3{
       float:left;
       padding-top:40px;
  padding-right: 70px;
    padding-left:40px;
    border:2px solid black;
    border-radius:80px;
    margin:40px;
    position:relative;
    left:30px;
        background-color:ghostwhite;
        
        
}
    
    .image123{
        padding-left:65px;
        padding-top:100px;
    }
    body{
        background-image:url(hills.jpeg);
    }
    footer{
        
        background-color: darkslategray;
      
    }
    #hey{
        display:none;
        font-size:20px;
        text-align:center;
        font-family: 'Pacifico', cursive;
        
    }
   .next ,.blue {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
    font-size:16px;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
 .next:hover,  .next:focus ,.blue:hover , .blue:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
   
    .image123{
        background-color: bisque;
        border:4px solid black;
        font-size:20px;
        padding:27px;
        text-align:center;
        opacity:0.65;
    }
    
    span{
        
        font-family: 'Coiny', cursive;
        
    }
.roshani{
    position:absolute;
    margin-left:2em; 
}